<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN">
<html lang="en">
<head>
    <title>{% block title %}CoPress Money{% endblock %}</title>
    <link rel="stylesheet" type="text/css" href="/static/styles.css" />
    <script type="text/javascript" src="/static/jquery-1.3.2.min.js"></script>
    <script type="text/javascript" src="/static/jquery.tablesorter.min.js"></script>
    <script type="text/javascript" src="/static/copressmoney.js"></script>
</head>
<body>
    {% block content %}{% endblock %}
</body>
</html>
