<tr><td colspan="13"><big><strong>Add New Line</strong></big></td></tr>
<form action="/api/add/line/" method="post">
<tr class="linelabels">
<td><label for="id_date">Date</label></td>
<td><label for="id_title">Title</label></td>
<td></td>
<td><label for="id_description">Description</label></td>
<td><label for="id_documentation">Link</label></td>
<td><label for="id_category">Category</label></td>
<td><label for="id_revenue">Revenue</label></td>
<td><label for="id_expenses">Expenses</label></td>
<td><label for="id_cash">Cash</label></td>
<td><label for="id_unearned">Unearned Revenue</label></td>
<td><label for="id_prepaid">Prepaid Expenses</label></td>
<td><label for="id_acctsreceivable">A/R</label></td>
<td><label for="id_acctspayable">A/P</label></td>
</tr>
<tr>
<td><input type="text" name="date" id="id_date" class="addline" /></td>
<td><input id="id_title" type="text" name="title" maxlength="128" class="addline" /></td>
<td></td>
<td><textarea id="id_description" rows="1" cols="25" name="description" class="addline"></textarea></td>
<td><input id="id_documentation" type="text" name="documentation" maxlength="200" class="addline" /></td>
<td><input id="id_category" type="text" name="category" maxlength="64" class="addline" /></td>
<td><input type="text" name="revenue" id="id_revenue" class="addline" /></td>
<td><input type="text" name="expenses" id="id_expenses" class="addline" /></td>
<td><input type="text" name="cash" id="id_cash" class="addline" /></td>
<td><input type="text" name="unearned" id="id_unearned" class="addline" /></td>
<td><input type="text" name="prepaid" id="id_prepaid" class="addline" /></td>
<td><input type="text" name="acctsreceivable" id="id_acctsreceivable" class="addline" /></td>
<td><input type="text" name="acctspayable" id="id_acctspayable" class="addline" /></td>
</tr>
<tr>
<td><label for="id_client">Client</label></td>
<td>{{ form.client }}</td>
<td colspan="11"><p><input type="submit" value="Add Line" /></p>
</td>
</tr>
</form>