{% extends "base.html" %}

{% block title %}ledger_sheet{% endblock %}

{% block content %}
<div id="navbar">
<a class="navlink" id="addlink">add line</a> ||| <a id="prevlink" class="navlink">prev</a> | <a id="nextlink" class="navlink">next</a>
</div>



<table id="ledger" border="0" cellpadding="5" cellspacing="0" >
<thead>
<tr id="sorters">
<th class="date">Date</th>
<th class="title">Title</th>
<th class="client">Client</th>
<th class="description">Description</th>
<th class="documentation">Receipt / Invoice</th>
<th class="category">Category</th>
<th class="revenue">Revenue</th>
<th class="expenses">Expenses</th>
<th class="cash">Cash</th>
<th class="unearned">Unearned Revenue</th>
<th class="prepaid">Prepaid Expenses</th>
<th class="acctsreceivable">A / R</th>
<th class="acctspayable">A / P</th>
<th class="lineid">Line ID</th>
</tr>
<tr id="prior-summary" class="summary">
<th id="prior-summary-head" class="summary-head" colspan="6">Prior Balances</th>
<th class="revenue dollars">{% if priorbalance.revenue != None %}${{ priorbalance.revenue|floatformat:2 }}{% endif %}</th>
<th class="expenses dollars">{% if priorbalance.expenses != None %}${{ priorbalance.expenses|floatformat:2 }}{% endif %}</th>
<th class="cash dollars">{% if priorbalance.cash != None %}${% if priorbalance.cash < 0 %}({{ priorbalance.cash|floatformat:2|force_escape|slice:"1:" }}){% else %}{{ priorbalance.cash|floatformat:2 }}{% endif %}{% endif %}</th>
<th class="unearned dollars">{% if priorbalance.unearned != None %}${% if priorbalance.unearned < 0 %}({{ priorbalance.unearned|floatformat:2|force_escape|slice:"1:" }}){% else %}{{ priorbalance.unearned|floatformat:2 }}{% endif %}{% endif %}</th>
<th class="prepaid dollars">{% if priorbalance.prepaid != None %}${% if priorbalance.prepaid < 0 %}({{ priorbalance.prepaid|floatformat:2|force_escape|slice:"1:" }}){% else %}{{ priorbalance.prepaid|floatformat:2 }}{% endif %}{% endif %}</th>
<th class="acctsreceivable dollars">{% if priorbalance.acctsreceivable != None %}${% if priorbalance.acctsreceivable < 0 %}({{ priorbalance.acctsreceivable|floatformat:2|force_escape|slice:"1:" }}){% else %}{{ priorbalance.acctsreceivable|floatformat:2 }}{% endif %}{% endif %}</th>
<th class="acctspayable dollars">{% if priorbalance.acctspayable != None %}${% if priorbalance.acctspayable < 0 %}({{ priorbalance.acctspayable|floatformat:2|force_escape|slice:"1:" }}){% else %}{{ priorbalance.acctspayable|floatformat:2 }}{% endif %}{% endif %}</th>
<th class="lineid"></th>
</tr>
</thead>
<tbody>

<!--insert addline form here-->

{% for line in line_list %}
    {% include "ledger_line.html" %}
{% endfor %}
</tbody>
</table>
{% endblock %}
