{% extends "base.html" %}

{% block content %}

{% if user.is_authenticated %}
<p>Already logged in as <strong>{{ user.username }}</strong></p>
<p><a href="/ledger/current/">Current Ledger</a></p>
<p><a href="/logout/">Logout</a></p>
{% else %}
  {% if form.errors %}
    <p class="error">Sorry, that's not a valid username or password</p>
  {% endif %}

  <form action="" method="post">{% csrf_token %}
    <label for="username">User name:</label>
    <input type="text" name="username" value="" id="username">
    <label for="password">Password:</label>
    <input type="password" name="password" value="" id="password">

    <input type="submit" value="login" />
    <input type="hidden" name="next" value="{{ next|escape }}" />
  </form>
{% endif %}

{% endblock %}
